certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
kiwisolver==1.0.1
matplotlib==3.0.1
networkx==2.2
numpy==1.15.3
prettytable==0.7.2
pyparsing==2.3.0
python-dateutil==2.7.5
requests==2.20.0
scipy==1.1.0
six==1.11.0
smmap2==2.0.5
sortedcollections==0.5.3
sortedcontainers==1.5.7
unidiff==0.5.5
uritemplate==3.0.0
urllib3==1.24
